

.Specials-Cards {

    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;
    flex-wrap: wrap;

    margin: 5px;
    border-radius: 12px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);  
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.Card-Img {
    padding: 5%;
}

.Card-Text {
    padding-bottom: 30%;
    padding-left: 2%;
}

