

.Confirmation-box {
    border: solid 2px;
    display: flex;
    flex-wrap: wrap;
}
.Heading {
    text-align: center;
    width: 100%;
}
p {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

span {
    font-weight: normal;
}
