
.Customer-Component {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:beige;
    padding: 1rem;
    box-shadow: 40%;
}
.Customer-Cards {
    padding: .5rem;
    width: 30%; /* Adjust based on the number of cards */
    min-width: 300px; /* Prevent cards from shrinking too much on small screens */
    max-width: 600px;
    display: flex;
    border-radius: 10%;
    background-color:burlywood;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.219);
}

.Card-Img-profile {
    border-radius: 10%;
    height: 10rem;
}

.Name {
    margin-left: 1rem;

}

.rate {
    text-align: start;
    margin-top: -1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    .Customer-Cards {
        width: 45%; /* Allows two cards per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .Customer-Cards {
        width: 90%; /* Single card per row on very small screens */
    }
}