
.Customer-Component {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background-color:darkolivegreen;
}
.Customer-Cards {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);  
    background-color:chocolate;
    border-radius: 8px;
    height: 150px;
}

.Customer-Cards .Card-Img {
    width: 90%;
}

.Name {
    font-size: 100%;
    padding-left: 6%;
    margin-top: -.8rem;
}

.Customer-Cards P {
    font-size: 100%;
    margin-left: 9px;
    width: 15rem;
}

@media screen and (max-width: 768px) {
    .Customer-Component {
        flex-direction: column;
        gap: 2rem;
    }
}
