

/* General Body and Container Setup */
html, body {
  height: 100%;  /* Ensure the body takes up the full viewport height */
  margin: 0;     /* Remove default margin */
}

.app-container {
  display: flex;               /* Enable flexbox */
  flex-direction: column;      /* Stack items vertically */
  min-height: 100vh;           /* Ensure the container takes up at least the full viewport height */
}
.main-container{
  flex-grow: 1; 
}